<tr class="gradeX">
  <td><%= book.id %></td>
  <td><%= book.title %></td>
  <td><%= book.category_name %></td>
  <td><%= book.author %></td>
  <td class="center">
      <%= image_tag book.book_img.url(:book_show), class: "original" %>
  </td>
  <td>
    <%= link_to t("admin.books.index.edit"), edit_admin_book_path(book),
      class: "fa fa-edit btn btn-primary " %>
    <%= link_to t("admin.books.index.delete"), admin_book_path(book), method: :delete,
      data:{confirm: t(".sure")}, class: "fa fa-trash btn btn-danger " %>
  </td>
</tr>
