<h1><%= t "view.users.user_mailer.pass_reset" %></h1>
<p><%= t "view.users.user_mailer.reset" %></p>
<%= link_to t("view.users.user_mailer.reset_pass"), edit_password_reset_url(@user.reset_token, email: @user.email) %>
<p><%= t "view.users.user_mailer.two_hours" %></p>
<p><%= t "view.users.user_mailer.request" %></p>
