<p><%= t "devise.mailer.email_changed.hello" %> <%= @resource.email %>!</p>

<p><%= t "devise.mailer.reset_password_instructions.someone" %></p>

<p><%= link_to t("devise.mailer.reset_password_instructions.change_password"), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t "devise.mailer.reset_password_instructions.ignore" %></p>
<p><%= t "devise.mailer.reset_password_instructions.change_until" %></p>
