<div class="reviews_<%= @book.id %>">
  <%= simple_form_for [@book, @review], remote: true do |f| %>
    <div id="rating-form"><label><%= t "view.review.rate" %></label></div>
    <%= f.input :content %>
    <%= f.button :submit, Review, class: "btn-custom2" %>
  <% end %>
</div>
